.container{
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

    margin: 2rem;
}

.input-card {
    margin: 20px;

    mat-card-content, div.input-card-content {
        padding: 0 15%;
        text-align: center;
    }

    p {
        font-size: 15px;
        margin: 20px 0;
    }
}

button {
    margin: 1rem;
}

mat-form-field {
    font-size: 16px;
    margin: 0 1rem;
}

mat-radio-button {
    font-size: 16px;
    margin: 0 1rem;
}

mat-form-field.mat-form-field-should-float {
    mat-label {
        font-size: 20px;
    }

    input.mat-input-element {
        padding-top: 6px;
    }
    
    mat-select {
        padding-top: 10px;
    }
}

mat-accordion {
    padding: 15px;
}

mat-expansion-panel {
    mat-panel-title {
        font-weight: bold;
    }

    .instruction-content {
        text-align: center;

        p {
            text-align: left;
        }

        table {
            display: inline;

            caption {
                text-align: center;
            }
        }
    }
}

.input_row {
    padding: 15px 0;
    font-size: 16px;
}

.fill-instruction {
    font-weight: bold;
}

.or {
    display:flex;
    justify-content:center;
    align-items: center;
    color:grey;
}
.or:after,
.or:before {
    content: "";
    display: block;
    background: lightgrey;
    width: 10%;
    height: 1px;
    margin: 0 10px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 8px;
    border: 1px solid lightgrey;
}
