<div class="container">

<h2>Solar PV and Battery Cost Estimator</h2> 

<mat-horizontal-stepper linear #stepper>

  <!-- Step 1: Location/PV Gen -->
  <mat-step [stepControl]="step_1.isUsingPVEstimation ? step_1.location_formgroup : step_1.pv_text_formgroup">
    <ng-template matStepLabel>{{ step_1.isUsingPVEstimation ? 'My Location' : 'Hourly PV Radiation File' }}</ng-template>

    <div class="row">
      <button mat-raised-button (click)="step_1_onChangePVInput()">
        {{ step_1.isUsingPVEstimation ? 'Manually Input PV Generation Parameters Instead' : 'Use Location Instead' }}
      </button>
    </div>

    <div>
      <div *ngIf="step_1.isUsingPVEstimation">
        <div class="row">
          <label>First, your location please...</label>
        </div>

        <div class="row">
          <button mat-raised-button (click)="step_1_inferLocationUsingIP()">Fill Location Using my IP Address</button>
        </div>
        
        <div class="row">
          <form [formGroup]="step_1.address_formgroup">
            <mat-form-field>
              <mat-label>Your City</mat-label>
              <input matInput formControlName="city"
                      placeholder="Seattle, WA, United States...">
            </mat-form-field>
            <button mat-raised-button (click)="step_1_inferLocationUsingAddress()">Autofill Location Using my City</button>
          </form>
        </div>
        
        <div class="row">
          <form [formGroup]="step_1.location_formgroup">
            <mat-form-field>
              <mat-label>Latitude</mat-label>
              <input matInput required type="number" formControlName="lat"
                      placeholder="+ for N, - for S, [-90, 90]">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Longitude</mat-label>
              <input matInput required type="number" formControlName="lon"
                      placeholder="+ for E, - for W, [-90, 90]">
            </mat-form-field>
          </form>
        </div>

        <div class="row" style="color: red;">
          {{this.step_1.errorMsg}}
        </div>

        <div>
          <button mat-raised-button color="primary" matStepperNext
                  (click)="step_1_lat_lon_onNext()">Next</button>
        </div>
      </div>

      <form [formGroup]="step_1.pv_text_formgroup" *ngIf="!step_1.isUsingPVEstimation">
        <div class="subrow">
          <input type="file" id="pv_file"
                 (change)="step_1_onPVFileChange($event.target.files)">
        </div>
        <div class="subrow">
          <mat-form-field>
            <textarea matInput required cols="50" rows="10"
                      formControlName="pv_text"
                      placeholder="Hourly PV Radiation"></textarea>
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </div>
  </mat-step>

  <!-- Step 2: PV Parameters (Only Needed for Lat/Lon Estimation) -->
  <mat-step [stepControl]="step_2.pv_params_formgroup" *ngIf="step_1.isUsingPVEstimation">
    <ng-template matStepLabel>Solar Panel Parameters</ng-template>
    
    <form [formGroup]="step_2.pv_params_formgroup">
      <div class="row">
        <div>
          <div>
            <label>Panel Position</label>
          </div>
          <div class="subrow">
            <mat-form-field>
              <mat-label>Tilt</mat-label>
              <input type="number"
                    matInput required
                    placeholder="[0, 90]"
                    formControlName="pv_tilt">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Azimuth</mat-label>
              <input type="number"
                    matInput required
                    placeholder="0 = N, 90 = E, 180 = S, 270 = W. [0, 360)"
                    formControlName="pv_azimuth">
            </mat-form-field>
          </div>
        </div>

        <div>
          <div>
            <label>Solar Panel Type</label>
          </div>
          <div class="subrow">
            <mat-form-field>
              <mat-label>System Losses</mat-label>
              <input type="number"
                    matInput required
                    placeholder="Percentage, [0, 99]"
                    formControlName="pv_losses">
            </mat-form-field>
          </div>
          <div class="subrow">
            <mat-form-field>
              <mat-label>Module Type</mat-label>
              <mat-select matInput required formControlName="pv_module_type">
                <mat-option value="0">Standard</mat-option>
                <mat-option value="1">Premium</mat-option>
                <mat-option value="2">Thin film</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="subrow">
            <mat-form-field>
              <mat-label>Array Type</mat-label>
              <mat-select matInput required formControlName="pv_array_type">
                <mat-option value=0>Fixed - Open Rack</mat-option>
                <mat-option value=1>Fixed - Roof Mounted</mat-option>
                <mat-option value=2>1-Axis</mat-option>
                <mat-option value=3>1-Axis Backtracking</mat-option>
                <mat-option value=4>2-Axis</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 3: Load Estimation -->
  <mat-step [stepControl]="step_3.isUsingLoadEstimation ? step_3.load_estimation_formgroup : step_3.load_text_formgroup">
    <ng-template matStepLabel>Electricity Load Estimation</ng-template>

    <div class="row">
      <button mat-raised-button (click)="step_3_onChangeLoadInput()">
        {{ step_3.isUsingLoadEstimation ? 'Manually Input Hourly Load Parameters Instead' : 'Use Load Estimation Instead' }}
      </button>  
    </div>  

    <form [formGroup]="step_3.load_estimation_formgroup" *ngIf="step_3.isUsingLoadEstimation">
      <div class="row">
        <div>
          <label>Enter your monthly electricity load in kWh:</label>
        </div>
        <div class="subrow">
          <mat-form-field formArrayName="load_monthly"
                          *ngFor="let ctrl of step_3.load_estimation_formgroup.controls.load_monthly.value; let i = index; trackBy: id">
            <input required matInput type="number" placeholder="{{ months[i] }}" [formControlName]="i">
          </mat-form-field>
        </div>
      </div>

      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>

    <form [formGroup]="step_3.load_text_formgroup" *ngIf="!step_3.isUsingLoadEstimation">
      <div class="subrow">
        <input type="file"
              id="load_file"
              (change)="step_3_onLoadFileChange($event.target.files)">
      </div>
      <div class="subrow">
        <mat-form-field>
          <textarea matInput required cols="50" rows="10"
                    formControlName="load_text"
                    placeholder="Hourly Electricity Load"></textarea>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 4: Estimation Parameters -->
  <mat-step [stepControl]="step_4.est_params_formgroup">
    <ng-template matStepLabel>Estimation Parameters</ng-template>
    
    <form [formGroup]="step_4.est_params_formgroup">
      <mat-form-field>
        <input type="number" matInput required
               formControlName="pv_price_per_kw"
               placeholder="PV cost per KW">
      </mat-form-field>
  
      <mat-form-field>
        <input type="number" matInput required
               formControlName="battery_price_per_kwh"
               placeholder="Battery cost per KWh">
      </mat-form-field>
  
      <mat-form-field>
        <input type="number" matInput required
               formControlName="confidence_level"
               placeholder="Confidence Level, [0.5, 1]">
      </mat-form-field>
    
      <mat-form-field>
        <input type="number" matInput required
               formControlName="days_in_sample"
               placeholder="Days In Sample">
      </mat-form-field>

      <div class="radioButton">
        <div class="radioLabel">
          <label>Estimation Type</label>
        </div>
        <div>
          <mat-radio-group aria-label="Estimation Type" formControlName="estimation_type">
            <mat-radio-button value="lolp">LOLP</mat-radio-button><br>
            <mat-radio-button value="eue">EUE</mat-radio-button><br>
          </mat-radio-group>
        </div>
      </div>
    </form>

    <div>
      <button mat-raised-button color="primary" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" matStepperNext (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Results</ng-template>

    <div *ngIf="resultMsg !== ''" class="row">
      <pre>{{this.resultMsg}}</pre>
    </div>

    <div>
      <button mat-raised-button color="primary" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

</mat-horizontal-stepper> 

</div>
